<h1 class="jumbotron-heading">There's something hidden here!</h1>
<script>
    function secretLinkFunction(){
        return 'https://secret.link';
    };

    var secretLink = secretLinkFunction();
</script>