<style>
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
    }

    td, th {
        border: 1px solid black;
        text-align: left;
        padding: 8px;
    }

    tr:nth-child(even) {
        background-color: #6c757d;
        color:white;
    }
</style>

<table>
    <tr>
        <th>Entry Number</th>
        <th>Row</th>
    </tr>
    <tr class="odd">
        <td>Entry #1</td>
        <td>Odd</td>
    </tr>
    <tr class="even1">
        <td>Entry #2</td>
        <td>Even</td>
    </tr>
    <tr class="odd">
        <td>Entry #3</td>
        <td>Odd</td>
    </tr>
    <tr class="even2">
        <td>Entry #4</td>
        <td>Even</td>
    </tr>
</table>